body{
    background-color: lavenderblush;
    margin: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:link {
    color:black;
    text-decoration: none;
}

h1{
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   color: navy;
}
.heading{
    text-align: center;
    border-top: goldenrod 2px solid;
    border-bottom: gray 2px solid;
    border-left: none;
    border-right:none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
img{
    height: 300px;
}
#people_involved{
    border:gray solid 2px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#youtube1 {
    position: relative;
    float: right;
    padding-left: 10px;
}
#youtube2 {
    float: right;
    position: relative;
    padding-left: 10px;
}
